# coding: utf-8

"""
    Uptrends API v4

    This document describes Uptrends API version 4. This Swagger environment also lets you execute API methods directly.  Please note that this is not a sandbox environment: these API methods operate directly on your actual Uptrends account.  For more information, please visit https://www.uptrends.com/api.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from uptrends.api_client import ApiClient


class AlertApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def alert_get_monitor_alerts(self, monitor_guid, **kwargs):  # noqa: E501
        """Returns alerts for a specific monitor.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.alert_get_monitor_alerts(monitor_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_guid: The Guid of the monitor to get alerts for. (required)
        :param bool include_reminders: When true reminder alerts will be included in the results
        :param str cursor: A cursor value that should be used for traversing the dataset.
        :param str sorting: Sorting direction based on timestamp.
        :param int take: The number of records to return (Max value = 100)
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: AlertResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.alert_get_monitor_alerts_with_http_info(monitor_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.alert_get_monitor_alerts_with_http_info(monitor_guid, **kwargs)  # noqa: E501
            return data

    def alert_get_monitor_alerts_with_http_info(self, monitor_guid, **kwargs):  # noqa: E501
        """Returns alerts for a specific monitor.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.alert_get_monitor_alerts_with_http_info(monitor_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_guid: The Guid of the monitor to get alerts for. (required)
        :param bool include_reminders: When true reminder alerts will be included in the results
        :param str cursor: A cursor value that should be used for traversing the dataset.
        :param str sorting: Sorting direction based on timestamp.
        :param int take: The number of records to return (Max value = 100)
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: AlertResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['monitor_guid', 'include_reminders', 'cursor', 'sorting', 'take', 'start', 'end', 'preset_period']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method alert_get_monitor_alerts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'monitor_guid' is set
        if ('monitor_guid' not in params or
                params['monitor_guid'] is None):
            raise ValueError("Missing the required parameter `monitor_guid` when calling `alert_get_monitor_alerts`")  # noqa: E501

        if 'take' in params and params['take'] > 100:  # noqa: E501
            raise ValueError("Invalid value for parameter `take` when calling `alert_get_monitor_alerts`, must be a value less than or equal to `100`")  # noqa: E501
        if 'take' in params and params['take'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `take` when calling `alert_get_monitor_alerts`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'monitor_guid' in params:
            path_params['monitorGuid'] = params['monitor_guid']  # noqa: E501

        query_params = []
        if 'include_reminders' in params:
            query_params.append(('IncludeReminders', params['include_reminders']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('Cursor', params['cursor']))  # noqa: E501
        if 'sorting' in params:
            query_params.append(('Sorting', params['sorting']))  # noqa: E501
        if 'take' in params:
            query_params.append(('Take', params['take']))  # noqa: E501
        if 'start' in params:
            query_params.append(('Start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('End', params['end']))  # noqa: E501
        if 'preset_period' in params:
            query_params.append(('PresetPeriod', params['preset_period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicauth']  # noqa: E501

        return self.api_client.call_api(
            '/Alert/Monitor/{monitorGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AlertResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def alert_get_monitor_group_alerts(self, monitor_group_guid, **kwargs):  # noqa: E501
        """Returns alerts for a specific monitor group.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.alert_get_monitor_group_alerts(monitor_group_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_group_guid: The Guid of the monitor group to get alerts for. (required)
        :param bool include_reminders: When true reminder alerts will be included in the results
        :param str cursor: A cursor value that should be used for traversing the dataset.
        :param str sorting: Sorting direction based on timestamp.
        :param int take: The number of records to return (Max value = 100)
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: AlertResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.alert_get_monitor_group_alerts_with_http_info(monitor_group_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.alert_get_monitor_group_alerts_with_http_info(monitor_group_guid, **kwargs)  # noqa: E501
            return data

    def alert_get_monitor_group_alerts_with_http_info(self, monitor_group_guid, **kwargs):  # noqa: E501
        """Returns alerts for a specific monitor group.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.alert_get_monitor_group_alerts_with_http_info(monitor_group_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_group_guid: The Guid of the monitor group to get alerts for. (required)
        :param bool include_reminders: When true reminder alerts will be included in the results
        :param str cursor: A cursor value that should be used for traversing the dataset.
        :param str sorting: Sorting direction based on timestamp.
        :param int take: The number of records to return (Max value = 100)
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: AlertResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['monitor_group_guid', 'include_reminders', 'cursor', 'sorting', 'take', 'start', 'end', 'preset_period']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method alert_get_monitor_group_alerts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'monitor_group_guid' is set
        if ('monitor_group_guid' not in params or
                params['monitor_group_guid'] is None):
            raise ValueError("Missing the required parameter `monitor_group_guid` when calling `alert_get_monitor_group_alerts`")  # noqa: E501

        if 'take' in params and params['take'] > 100:  # noqa: E501
            raise ValueError("Invalid value for parameter `take` when calling `alert_get_monitor_group_alerts`, must be a value less than or equal to `100`")  # noqa: E501
        if 'take' in params and params['take'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `take` when calling `alert_get_monitor_group_alerts`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'monitor_group_guid' in params:
            path_params['monitorGroupGuid'] = params['monitor_group_guid']  # noqa: E501

        query_params = []
        if 'include_reminders' in params:
            query_params.append(('IncludeReminders', params['include_reminders']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('Cursor', params['cursor']))  # noqa: E501
        if 'sorting' in params:
            query_params.append(('Sorting', params['sorting']))  # noqa: E501
        if 'take' in params:
            query_params.append(('Take', params['take']))  # noqa: E501
        if 'start' in params:
            query_params.append(('Start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('End', params['end']))  # noqa: E501
        if 'preset_period' in params:
            query_params.append(('PresetPeriod', params['preset_period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicauth']  # noqa: E501

        return self.api_client.call_api(
            '/Alert/MonitorGroup/{monitorGroupGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AlertResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
