# coding: utf-8

"""
    Uptrends API v4

    This document describes Uptrends API version 4. This Swagger environment also lets you execute API methods directly.  Please note that this is not a sandbox environment: these API methods operate directly on your actual Uptrends account.  For more information, please visit https://www.uptrends.com/api.  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from uptrends.api_client import ApiClient


class StatisticsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def statistics_get_monitor_group_statistics(self, monitor_group_guid, **kwargs):  # noqa: E501
        """Gets the monitor group statistics.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.statistics_get_monitor_group_statistics(monitor_group_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_group_guid: The Guid of the monitor group. (required)
        :param str filter: The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: StatisticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.statistics_get_monitor_group_statistics_with_http_info(monitor_group_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.statistics_get_monitor_group_statistics_with_http_info(monitor_group_guid, **kwargs)  # noqa: E501
            return data

    def statistics_get_monitor_group_statistics_with_http_info(self, monitor_group_guid, **kwargs):  # noqa: E501
        """Gets the monitor group statistics.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.statistics_get_monitor_group_statistics_with_http_info(monitor_group_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_group_guid: The Guid of the monitor group. (required)
        :param str filter: The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: StatisticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['monitor_group_guid', 'filter', 'start', 'end', 'preset_period']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method statistics_get_monitor_group_statistics" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'monitor_group_guid' is set
        if ('monitor_group_guid' not in params or
                params['monitor_group_guid'] is None):
            raise ValueError("Missing the required parameter `monitor_group_guid` when calling `statistics_get_monitor_group_statistics`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'monitor_group_guid' in params:
            path_params['monitorGroupGuid'] = params['monitor_group_guid']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'start' in params:
            query_params.append(('Start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('End', params['end']))  # noqa: E501
        if 'preset_period' in params:
            query_params.append(('PresetPeriod', params['preset_period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicauth']  # noqa: E501

        return self.api_client.call_api(
            '/Statistics/MonitorGroup/{monitorGroupGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StatisticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def statistics_get_monitor_statistics(self, monitor_guid, **kwargs):  # noqa: E501
        """Gets the monitor statistics.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.statistics_get_monitor_statistics(monitor_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_guid: The Guid of the monitor. (required)
        :param str filter: The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: StatisticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.statistics_get_monitor_statistics_with_http_info(monitor_guid, **kwargs)  # noqa: E501
        else:
            (data) = self.statistics_get_monitor_statistics_with_http_info(monitor_guid, **kwargs)  # noqa: E501
            return data

    def statistics_get_monitor_statistics_with_http_info(self, monitor_guid, **kwargs):  # noqa: E501
        """Gets the monitor statistics.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.statistics_get_monitor_statistics_with_http_info(monitor_guid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str monitor_guid: The Guid of the monitor. (required)
        :param str filter: The filter for the requested response fields. E.g. \"Alerts,SlaTarget\".
        :param datetime start: The start of a custom period (can't be used together with the PresetPeriod parameter)
        :param datetime end: The end of a custom period
        :param str preset_period: The requested time period.
        :return: StatisticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['monitor_guid', 'filter', 'start', 'end', 'preset_period']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method statistics_get_monitor_statistics" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'monitor_guid' is set
        if ('monitor_guid' not in params or
                params['monitor_guid'] is None):
            raise ValueError("Missing the required parameter `monitor_guid` when calling `statistics_get_monitor_statistics`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'monitor_guid' in params:
            path_params['monitorGuid'] = params['monitor_guid']  # noqa: E501

        query_params = []
        if 'filter' in params:
            query_params.append(('Filter', params['filter']))  # noqa: E501
        if 'start' in params:
            query_params.append(('Start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('End', params['end']))  # noqa: E501
        if 'preset_period' in params:
            query_params.append(('PresetPeriod', params['preset_period']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/xml'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basicauth']  # noqa: E501

        return self.api_client.call_api(
            '/Statistics/Monitor/{monitorGuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StatisticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
